<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Language Selection">
			<setting id="hi" type="bool" label="Hindi" default="true" />
			<setting id="en" type="bool" label="English" default="true" />
			<setting id="mr" type="bool" label="Marathi" default="true" />
			<setting id="te" type="bool" label="Telugu" default="true" />
			<setting id="kn" type="bool" label="Kannada" default="true" />
			<setting id="ta" type="bool" label="Tamil" default="true" />
			<setting id="ml" type="bool" label="Malayalam" default="true" />
			<setting id="bn" type="bool" label="Bengali" default="true" />
			<setting id="gu" type="bool" label="Gujarathi" default="true" />
			<setting id="pa" type="bool" label="Punjabi" default="true" />
			<setting id="hr" type="bool" label="Bhojpuri" default="true" />
			<setting id="or" type="bool" label="Oriya" default="true" />
			<setting id="as" type="bool" label="Assamese" default="true" />
	</category>
	<category label="Login">
		<setting id="email" type="text" label="email/mobile" default=""/>
		<setting id="password" type="text" option="hidden"  label="password" default=""/>
	</category>	
	<category label="General">
			<setting id="devid" type="select" label="Device ID" values="D1|D2|D3|D4" default="D1" />
			<setting id="DeviceID" type="text" label="Device ID (Manual Entry)" default=""/>
			<setting id="debug" type="bool" label="Enable Debug Logs?" default="false" />
	</category>

</settings>
